/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }
  /******************** nav *****************/
  .navBar{
    background-color: #ffff64;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .navBar-logo{
    letter-spacing: .5em;
    display: block;
    float: left;
    margin: auto;
    background-color: #ffff64;
    color: #ffff64;
    font-size: 28px;
    text-shadow:  -2px 2px 0 #000;
    padding: 5px 0;
    cursor: pointer;
  }
  .nav-search-holder{
    width: calc(50% - 67.5px);
    float: left;
    text-align: left;
    padding:7px;
  }
  .nav-search{
    text-align: left;
    padding: 5px;
    background: white;
    box-shadow: 0 0 5px #e9e9e9 inset;
    border: solid 1px #ccc;
  }
  .nav-user-actions{
    display: block;
    float: right;
    padding: 12px;
  }
  .nav-user-actions a{
    padding-left: 7px;
    cursor: pointer;
  }

  ::-webkit-input-placeholder {
     color: black;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;
  }

  :-ms-input-placeholder {
     color: black;
  }
  /******************** modals *****************/
.modal-bg{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}
.modal-box{
  position: absolute;;
  top: 30%;
  left: calc(50% - 150px);
  background: #292929;
  color: white;
  padding: 35px;
  border-radius: 3px;
  text-align: left;
}
.modal-box h1{
  color: #ffff64;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  padding-bottom:25px;
}
.modal-box-detail{
  background: rgba(153,153,153,.09);
  color: white;
  padding: 15px;
  border-radius: 3px;
}
.modal-box-detail input{
  border: solid 1px #666;
  margin-bottom: 8px;
  margin-top: 10px;
  border-radius: 1px;
  padding: 5px;
}
.modal-box-detail input:focus{
  border: solid 1px #BBB;
}
.modal-box-detail input[type="text"],input[type="password"] {
  width: 250px;
}
.modal-box-detail input[type="submit"]:hover {
  border: solid 1px #BBB;
}
/******************** LyricForm *****************/

.new-song-form{
  background: black;
  width: 100%;
}
.new-song-form-inner{
  margin: auto;
  width:950px;
  color: white;
}
.new-song-form-inner h1{
  font-weight: bolder;
  font-size: 36px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-left: -15px;
}
.new-song-form-inner input{
  margin-top: 2px;
  padding: 5px;
  border-radius: 1px;
}
.new-song-form-inner label{
  color: #ccc;
  font-weight: lighter;
}
.new-song-form-inner input[type="text"]{
  background: white;
  width: 450px;
  margin-bottom: 12px;
  color: black;
}
.new-song-form-inner input[type="submit"]{
  margin-bottom: 8px;
  color: #ccc;
  background: #262626;
}
textarea{
  background: white;
  color: black;
  width: 450px;
  height: 800px;
  padding: 5px;
  margin-bottom: 8px;
  margin-top: 6px;
  border-radius: 1px;
}

/******************** LyricIndex *****************/

.lyric-index-list{
  position: relative;
  width: 950px;
  margin: auto;
  margin: 50px auto;
}
.lyric-index-list h1{
  font-size: 28px;
  font-weight: bolder;
}
.lyric-index-list h2{
  font-size: 18px;
  font-weight: bold;
}
.lyric-index-list-item{
  height: 460px;
  width: 32%;
  padding: 6px;
  display: block;
  float: left;
  cursor: pointer;
}
.lyric-text-container{
  background: black;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.lyric-index-list-item-text{
  color: white;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

/******************** LyricShow *****************/
.lyrics-banner{
  width: 100%;
  background: black;
  height: 290px;
  overflow: hidden;
  position: relative;
}
.lyrics-banner img{
  position: absolute;
}
.lyrics-banner-detail{
  position: relative;
  margin: auto;
  width: 950px;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.lyrics-banner-detail-inset{
  color: white;
  position: absolute;
  bottom: 30px;
  left: 15px;
}
.lyrics-banner-detail h1{
  color: #ffff64;
  font-weight: bolder;
  font-size: 3em;
  padding-bottom: 5px;

}
.lyrics-banner-detail h2{
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.lyrics-banner-detail h3{
  font-weight: lighter;
}
.lyrics-content{
  font-size: 18px;
  width: 950px;
  white-space: pre-wrap;
  margin: 0 auto 50px auto;;
  font-weight: lighter;
  line-height: 1.5em;
}
